
<app-login *ngIf="!isLogged" (childForm)="constructor(sharedService)"></app-login>
<div *ngIf="isLogged">
        <mat-sidenav-container>
                <mat-sidenav class="menu" opened mode="side" position="end">                  
                        <h1>{{user.firstname}} {{user.lastname}}</h1>
                        <a routerLink="/userinfo/{{user.id}}">
                                <button mat-raised-button>User info</button>
                        </a>
                        <a routerLink="/wall/0">
                                <button mat-raised-button>Friends posts</button>
                        </a>
                        <a routerLink="/addmessage/0">
                                <button mat-raised-button> Add post</button> 
                        </a>
                        <a routerLink="/searchusers">
                                <button mat-raised-button>  Search users</button> 
                        </a> 
                        <button mat-fab  (click)="delogin()">Sign out</button>    
          
                </mat-sidenav> 
                <mat-sidenav-content>                                                
                                <router-outlet></router-outlet>
                </mat-sidenav-content>
        </mat-sidenav-container>        
</div>
